.contlogin{
    width: 95%;
    background: #E6E6E6; 
    display: flex;
    flex-flow:row wrap;
    justify-content:center;
    align-items:center;
    margin: 50px;
}
.contlogin img{
    width: 50%;
}
.contlogin form{
    width: 80%;
    border-radius: 5px;
    background: silver;
    padding: 10px;
}
form label{
    font-size: 20px;
}
form input{
    font-size: 20px;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    border-bottom: 3px solid #ff851b;
}
.boton{
     font-size: 20px;
    background: #ff851b ;
}
@media (min-width:768px){
.contlogin img{
    width: 30%;
}
.contlogin form{
    width: 70%;
    padding: 10px;
}
}
@media (min-width:1024px){
.contlogin img{
    width: 30%;
}
.contlogin form{
    width: 60%;
    padding: 10px;
}
}