*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ContProd{
    width: 100%;
    background: #F0F3F4;
    display: flex;
    flex-flow:row wrap;
    justify-content:center;
    align-items:center;
    color: #000033;
    font-family: sans-serif;
}

.ContProd strong{
    width: 90%;
    font-family: arial, helvetica, roboto, "new times roman", lato;
    text-align: center;
    margin: 25px;
    border: 1px solid red;
    font-size: large;
}
.ContProd form{
    width: 90%;
    border-radius: 3px;
    display: flex;
    flex-flow:row wrap;
    justify-content:center;
    margin: 10px;
}
/*.ContProd .parForm{
    width: 100%;
    display: flex;
    flex-flow:row wrap;
    justify-content:center;
    align-items:center; 
    margin-bottom: 15px;
    border: 1px solid yellow;
}*/
.gridContainer{
    display:grid;
    grid-template-columns:50% 50%;
    grid-template-rows:repeat(3,3rem);
    gap:1rem;
    justify-content:center;
    align-items:center; 
}
.botones2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.boton{
        padding-right: 1rem;
        padding-left: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
}

.tboxro{
    border: 0;
     text-align: center;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

span{
    font-weight: bold;
}

.tabla{
    width: 100%;
    display: flex;
    flex-flow:row wrap;
    justify-content:center;
    align-items:center; 
    margin-bottom: 10px;

}
table{
    border: 1px solid #000;
    width: 100%;
}
th,td{
    width: 20%;
    border: 1px solid #000;
    
}


@media (min-width:768px){
    .ContProd form{
        padding: 15px;      
    }
    .parForm .tbox{
        width: 40%;
        padding: 7px;
    }
    .parForm > div{
    width: 40%;
}
    .tbox22{
        padding: 7px;
    }
    .parForm label{
        width: 25%;
        font-weight: bold;
    }
    .parForm .boton{
        width: 50%;
        padding: 8px;
        border-radius: 3px;
    }
}