*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ContProd{
    width: 100%;
    background: #F0F3F4;
    display: flex;
    flex-flow:row wrap;
    justify-content:center;
    align-items:center;
    color: #000033;
    font-family: sans-serif;
    color: #000033;
}
.ContProd strong{
    width: 100%;
    text-align: center;
    margin: 10px;
}
.ContProd form{
    width: 100%;
    border-radius: 3px;
    display: flex;
    flex-flow:row wrap;
    justify-content:center;
}
.parForm{
    width: 100%;
    display: flex;
    flex-flow:row wrap;
    justify-content:center;
    align-items:center; 
    margin-bottom: 10px;
}
.parForm > label{
    width: 40%;
}
.parForm > .tbox{
    width: 60%;
    padding: 4px;
}
.parForm > div{
    width: 60%;
}
.tbox22{
    width: 100%;
    padding: 4px;
}
.parForm .boton{
    width: 80%;
    background: #F4D03F;
    font-weight: bold;
    padding: 5px;
}
p{  
    font-weight: normal;
    text-align: justify;
    padding: 5px;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

span{
    font-weight: bold;
}


@media (min-width:768px){
    .ContProd form{
        padding: 15px;      
    }
    .parForm .tbox{
        width: 40%;
        padding: 7px;
    }
    .parForm > div{
    width: 40%;
}
    .tbox22{
        padding: 7px;
    }
    .parForm label{
        width: 25%;
        font-weight: bold;
    }
    .parForm .boton{
        width: 50%;
        padding: 8px;
        border-radius: 3px;
    }
}